
.layout {
  height: 100%;
  width: 100%;
  display: flex;
  >div {
    width: 50%;
  }
}


.listings {
  height: 100%;
  flex-basis: 50%;
  position: relative;
  z-index: 3;

}

.cards-list {
  background-color: #fff;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  &.is-empty {
    background-color: #f3f3f3;
  }
}

.cards {
  max-width: 100%;
}